@tailwind base;
@tailwind components;
@tailwind utilities;

.cancel::-webkit-search-cancel-button{
    display: none;
}



.underlinee.active{
    display: block;
    position: relative;
    top: 5px;
    width: 100%;
    height: 2px;
    background-color: #000;
    animation: fade 0.5s linear;
}

@keyframes fade {
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        top: 5px;
    }
}